.epam-js-add-new-task-btn {
  margin-top: 15px;
  margin-bottom: 15px;
}

.epam-js-clean-link {
  margin-bottom: 30px;
}

.epam-js-to-do-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.epam-js-clean-link:hover {
  color: blueviolet;
}

.epam-js-list-name {
  color: darkorange;
  font-size: larger;
  margin-top: 15px;
}

.epam-js-task:hover {
  color: tomato;
}

.epam-js-task .creation-date {
  margin-left: 10px;
}